<section class="hero-container">
  <div class="contenedor">
    <h1 class="titulo-principal">
      <span class="palabra-uno">MALOCA </span>
      <span class="rojos">JOVEN</span>
    </h1>
    <h2 class="contenido">
      Capturamos la esencia de la Amazonia colombiana con una mirada joven, cultural y
      transformadora
    </h2>
    <div class="botones">
      <a class="ver-portafolio" href="https://tr.ee/yaP85YfxyV" target="_blank" rel="noopener noreferrer">VER PORTAFOLIO</a>
      <a class="cambio" href="#contacto">CONSTRUYAMOS EL CAMBIO</a>
    </div>
  </div>

</section>
